<h1 class="text-center"><i class="fas fa-tools"></i><br/>Under Construction</h1>
<p class="text-center">We are currently working hard to build Soul Building's virtual presence from the ground up.<br/>
Come by again in a few weeks to check on our status!</p>
<p class="text-center">In the meantime, feel free to view our current projects on Facebook:<br/><br/>
  <a href="https://www.facebook.com/profile.php?id=100054286579733">
    <button type="button" class="btn btn-primary text-center">
      <i class="fab fa-facebook"></i> Soul Building Inc on Facebook
    </button>
  </a>
</p>
<% if user_signed_in? %>
<h1>Hello!</h1>
<p>Layout will be:</p>
<ol>
  <li>Navbar</li>
  <li>large spanning image with 40% overlay, company logo, slogan, and "view our portfolio" or similar</li>
  <li>"What we do" section</li>
  <li>"About us" section</li>
  <li>Portfolio section with some snippets</li>
  <li>Contact us</li>
</ol>

<br/>
<p>Also to do:</p>
<ol>
  <li>Google recaptcha v3 across the site</li>
  <li>Shrine gem hooked up to Amazon S3(?) - note 20k request/mo limit</li>
  <li>Post has a thumbnail image, 'prized' image. Links to the post. Post shows the details, then shows a gallery of the job.</li>
  <li>SEO</li>
  <li>Google drive API - pull in images from a specially-named folder corresponding to a 'post' ID</li>
</ol>
<p class="navbar-text float-right">
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>