
<section class="tw-relative tw-py-10 tw-bg-blueGray-50">
<div class="tw-items-center tw-flex tw-flex-wrap">
  <div class="tw-w-full tw-h-full lg:tw-w-[30vw] tw-object-center tw-flex-shrink-0 tw-mx-auto tw-px-4 tw-pb-10">
    <img alt="Image of a newly renovated kitchen" class="tw-rounded-lg tw-shadow-lg tw-object-cover tw-w-full tw-h-full lg:tw-w-[30vw] lg:tw-h-[70vh]" src="https://blog-www.pods.com/wp-content/uploads/2020/04/Kitchen-Feature-Photo-scaled.jpg">
  </div>
  <div class="tw-w-full lg:tw-w-5/12 tw-mx-auto tw-px-4">
    <div class="lg:tw-pr-12">
      <h3 class="tw-text-3xl tw-font-semibold">Soul Building, Inc</h3>
      <hr>
      <p class="tw-mt-4 tw-text-lg tw-leading-relaxed tw-text-blueGray-500">
        Soul Building, Inc was founded by James Schneider, a 3rd generation Stone & Tile contractor. James has been in the business for over 30 years.<br><br> 
        Quality, commitment & ultimate customer satisfaction is our goal.<br><br>
        We pride ourselves on experience & expertise in custom design, as well as our ability to fabricate a variety of natural stones, including granite, limestone, marble, and glass tile. We are a complete fabrication shop providing quality service to homeowners, architects, designers, general contractors, and builders.<br><br>
        Our knowledgeable team of fabricators produces the highest quality craftsmanship. We are ready to create your dream kitchen, bath, entry, fireplace, pool, pool house — The possibilities are endless!<br><br>
        Services are provided from Manhattan to the Hamptons to Montauk. Commercial & Residential. Satisfaction guaranteed!<br>
      </p>
      <button class="tw-bg-black tw-rounded-md tw-mt-6 tw-text-white tw-block">
        <a href="mailto:soulbuilding@mail.com" class="tw-no-underline tw-rounded-md tw-text-white tw-border tw-w-full tw-block tw-px-7 tw-py-3 hover:tw-text-indigo-100">
          <i class="far fa-envelope"></i> Email Us
        </a>
      </button>
    </div>
  </div>
</div>
</section>