<h1 class="text-center">About</h1>
<br>
<p>Soul Building, Inc. was founded by James Schneider, a 3rd generation Stone & Tile contractor. 
James has been in the business for over 30 years. Quality, commitment & the ultimate customer satisfaction is our goal. 
We pride ourselves on experience & expertise to custom design, as well as our ability to fabricate a variety of natural stones. We are 
a complete fabrication shop providing quality service to homeowners, architects, designers, general contractors, and builders.</p>

<p>Our knowledgeable team of fabricators produce the highest quality craftsmanship. Fabricators are ready to create your 
dream kitchen, bath, entry, fireplace, pool, pool house, etc... The possibilities are endless! Granite, limestone, marble, 
glass tile, etc. Services are provided Manhattan to Montauk. Commercial & Residential. Satisfaction guaranteed!</p>
