<div class="tw-container tw-mx-auto tw-grid tw-grid-cols-2 tw-gap-4">
  <%# <div class="tw-flex tw-p-10 tw-justify-around tw-space-x-12"> %>
    <div class="tw-mb-auto tw-mt-auto tw-max-w-lg tw-col-span-1 tw-flex tw-flex-col">
      <h1 class="tw-text-4xl tw-uppercase">Soul Building, Inc</h1>
      <hr>
        <p>Soul Building, Inc was founded by James Schneider, a 3rd generation Stone & Tile contractor.</p> 
        <p>James has been in the business for over 30 years. Quality, commitment & ultimate customer satisfaction is our goal.</p>
        <p>We pride ourselves on experience & expertise in custom design, as well as our ability to fabricate a variety of natural stones, including granite, limestone, marble, and glass tile. We are a complete fabrication shop providing quality service to homeowners, architects, designers, general contractors, and builders.</p>
        <p>Our knowledgeable team of fabricators produces the highest quality craftsmanship. Fabricators are ready to create your dream kitchen, bath, entry, fireplace, pool, pool house — The possibilities are endless!</p>
        <p>Services are provided from Manhattan to the Hamptons to Montauk. Commercial & Residential. Satisfaction guaranteed!</p>
      <button class="tw-bg-black tw-rounded-md tw-py-3 tw-px-7 tw-mt-6 tw-text-white"><a href="mailto:soulbuilding@mail.com" class="tw-no-underline tw-text-white hover:tw-text-indigo-100"><i class="far fa-envelope"></i> Email Us</a></button>
    </div>
    <div class="tw-mb-auto tw-mt-auto tw-max-w-lg tw-col-span-1 tw-flex tw-flex-col">
      <img class="tw-object-center tw-object-cover " src="https://blog-www.pods.com/wp-content/uploads/2020/04/Kitchen-Feature-Photo-scaled.jpg" alt="">
    </div>
  <%# </div> %>
</div>