@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

@layer base {
  @font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans.ttf');
  }
  @font-face {
    font-family: 'Plus Jakarta Sans';
    font-weight: 200;
    src: url('../fonts/PlusJakartaSans-ExtraLight.ttf');
  }
  @font-face {
    font-family: 'Plus Jakarta Sans';
    font-weight: 300;
    src: url('../fonts/PlusJakartaSans-Light.ttf');
  }
  @font-face {
    font-family: 'Plus Jakarta Sans';
    font-weight: 400;
    src: url('../fonts/PlusJakartaSans-Regular.ttf');
  }
  @font-face {
    font-family: 'Plus Jakarta Sans';
    font-weight: 500;
    src: url('../fonts/PlusJakartaSans-Medium.ttf');
  }
  @font-face {
    font-family: 'Plus Jakarta Sans';
    font-weight: 600;
    src: url('../fonts/PlusJakartaSans-SemiBold.ttf');
  }
  @font-face {
    font-family: 'Plus Jakarta Sans';
    font-weight: 700;
    src: url('../fonts/PlusJakartaSans-Bold.ttf');
  }
  @font-face {
    font-family: 'Plus Jakarta Sans';
    font-weight: 800;
    src: url('../fonts/PlusJakartaSans-ExtraBold.ttf');
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply tw-font-heading;
  }

  .form-input {
    @apply tw-block tw-w-full tw-border-b tw-border-0 tw-border-gray-400 tw-bg-white tw-px-3 tw-py-2 tw-placeholder-slate-300 focus:tw-border-b-black focus:tw-outline-none sm:tw-text-sm !important;
  }

  .error {
    @apply tw-text-red-700 tw-font-bold;
  }

  input[type="submit"],
  button[type="submit"]:not(.ignore) {
    @apply tw-w-40 tw-cursor-pointer tw-bg-black tw-px-2 tw-py-3 tw-text-sm tw-font-medium tw-tracking-tight tw-text-white hover:tw-bg-gray-800 tw-rounded-md;
  }
}
