<div id="footer">
    <footer class="footer">
        <div class="container text-center py-3">
            <a href="https://www.facebook.com/profile.php?id=100054286579733" style="padding: 0px 10px 0px 10px; text-decoration: none; color:gray;"><i class="fab fa-facebook-square fa-3x"></i></a>
            <a href="https://instagram.com" style="padding: 0px 10px 0px 10px; text-decoration: none; color: gray;"><i class="fab fa-instagram-square fa-3x"></i></a>
            <a href="https://www.linkedin.com/in/james-schneider-2288b15a/" style="padding: 0px 10px 0px 10px; text-decoration: none; color:gray;"><i class="fab fa-linkedin fa-3x"></i></a>
            <a href="mailto:soulbuilding@mail.com" style="padding: 0px 10px 0px 10px; text-decoration: none; color:gray;"><i class="fas fa-envelope-square fa-3x"></i></a>
            <br><br>
            <span class="text-muted" style="font-size: 13px">&copy; 2022 <!-- auto-updates copy right year -->
                <a href="https://github.com/corey-schneider" class="text-muted">Corey Schneider</a><br>
            </span>
        </div>
    </footer>
</div>