<div id="footer">
    <footer class="footer">
        <div class="container text-center py-3">
            <span class="text-muted">&copy; 2022 <!-- auto-updates copy right year -->
                <a href="https://github.com/corey-schneider" class="text-muted">Corey Schneider</a><br>
            </span>
            <br>
            <a href="https://www.facebook.com/profile.php?id=100054286579733" style="padding: 0px 10px 0px 10px; text-decoration: none"><%= inline_svg_tag('facebook.svg', size: '32px') %></a>
            <a href="https://instagram.com" style="padding: 0px 10px 0px 10px; text-decoration: none"><%= inline_svg_tag('instagram.svg', size: '32px') %></a>
            <a href="https://www.linkedin.com/in/james-schneider-2288b15a/" style="padding: 0px 10px 0px 10px; text-decoration: none"><%= inline_svg_tag('linkedin.svg', size: '32px') %></a>
        </div>
    </footer>
</div>